* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 50px;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  main {

    background-color: white;
    max-width: 25rem;
    padding: 0.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  img {
    
    max-width: 100%;
    border-radius: 10px;

  }

  .heading {
    color: hsl(218, 44%, 22%);
    font-size: 15px;
    text-align: center;
    margin: 15px;
    
  }

  .heading p {
    color: gray;
    margin: 20px 0;
  }